<% include("../layouts/header.ejs")%>

<h1>Recovery mode</h1>

<% if (typeof message !== "undefined") { %>
  <div id="msg" style="color: red;"><%= message %></div>
  <script>
    setTimeout(() => {
      document.getElementById('msg').style.display = 'none';
    }, 5000);
  </script>
<% } %>

<form action="/admin/forget" method="post">
    <br><br>
    <input type="email" name="email" placeholder="enter email" required>
    <br><br>
    <input type="submit" value="Send Reset Link" >



</form><br>


<% include("../layouts/footer.ejs")%>