<% include("../layouts/header.ejs")%>

<h1>Update New Password</h1>


<form action="" method="post">
    <br><br>

    <input type="password" name="password" placeholder="Enter new password" required>
    <br><br>
    <input type="hidden" name="admin_id" value="<%= admin_id %>" >
    <input type="submit" value="Reset Password" >



</form><br>


<% include("../layouts/footer.ejs")%>