<% include("../layouts/header.ejs") %>

<h1 class="text-primary">User Registration Form</h1>

<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter Name" required>
    <br><br>
    <input type="email" name="email" placeholder="Enter Email" required>
    <br><br>
    <input type="number" name="mno" placeholder="Enter Mobile Number" required>
    <br><br>
    <input type="file" name="image" required>
    <br><br>
    <input type="password" name="password" placeholder="Enter Password" required>
    <br><br>
    <input type="submit" value="Register">
</form>

<br><br>
<a href="/login">go to login</a>
<br><br>
<a href="/admin" target="_blank">admin panel</a>

<br><br>
<div class=""><% if (typeof message !== "undefined") { %>
  <div id="msg" style="color: red;"><%= message %></div>
  <script>
    setTimeout(() => {
      document.getElementById('msg').style.display = 'none';
    }, 5000);
  </script>
<% } %>             <!---------------------the message will display only for 5 seconds----->
</div>   


<script>
  // Force a reload from server if user comes via back/forward button
  window.addEventListener("pageshow", function (event) {
    if (event.persisted || (window.performance && performance.navigation.type === 2)) {
      window.location.reload(); // Reload to trigger session check
    }
  });
</script>

<% include("../layouts/footer.ejs") %>